
    #sphwiki_toc h2 {
      font-size: 1em;
    }
    #sphwiki_toc {
      margin-top: 20px;
      padding: 5px;
      border: 1px dotted gray;
      right: 5px;
      float: right;
    }
    #sphwiki_toc ul {
      padding-left: 15px;
    }

.sph_object_list .nopermission {
  background-color: #ccc;
}
