    .wiki_title {
      border-bottom: 1px solid black;
      margin-bottom: 1px;
    }

    .wiki_secured { font-size:x-small; }

    #sphwiki_toc h2 {
      font-size: 1em;
    }
    #sphwiki_toc {
      margin-top: 20px;
      padding: 5px;
      border: 1px dotted gray;
      right: 5px;
      float: right;
    }
    #sphwiki_toc ul {
      padding-left: 15px;
    }

.sph_object_list .nopermission {
  background-color: #ccc;
}


.wiki_previewarea {
  /* it must be invisible in thebeginning */
  display:none;
  visibility:hidden;
  border: 2px solid gray;
  overflow:scroll;
  max-height: 500px;
  padding: 5px;
}

.history_changedate { white-space: nowrap; }
.history_editor { white-space: nowrap; }
.recentchanges_changedate, .recentchanges_editor {
  white-space: nowrap;
}

/* wiki diff styles */

        table.diff {font-family:Courier; border:medium;width:100%;}
        .diff_header {background-color:#e0e0e0}
        td.diff_header {text-align:right}
        .diff_next {background-color:#c0c0c0}
        .diff_add {background-color:#aaffaa}
        .diff_chg {background-color:#ffff77}
        .diff_sub {background-color:#ffaaaa}
        .diff_backtosnip { float: left; }
        .diff_prevnext { float: right; }


.sphwiki_breadcrumbs {
  display:block;
  text-align:left;
  float:left;
}

.sphwiki_actions {
  text-align: right;
  display:block;
  float:right;
}
