.sph_all_tags {
  margin: 5px;
  margin-top: 30px;
}

.sph_all_tags ul {
  list-style-type: none;
}

.sph_all_tags li {
  display: inline;
}

.sph_all_tags li:last-child:after {
  content:'';
}

.sph_all_tags li:after {
  content:', ';
}
