{% load sphboard_extras %}
{% load sph_extras %}
  <style>
    .wiki_title { border-bottom: 1px solid black; }
  </style>
  {% if snip.is_secured %}
    <strong style="font-size:x-small;">This snip is secured - View only allowed by: {{ snip.get_wiki_preference.get_view_display }}</strong><br/>
  {% endif %}
  {% if snip.id %}
    {% if snip.title %}
      <h1 class="wiki_title">{{ snip.title }}</h1>
    {% else %}
      <h1 class="wiki_title">{{ snip.name }}</h1>
    {% endif %}
    <small>{{ snip.name }} - Last Change: {{ snip.changed|sph_date }} by {% sphboard_displayUserName snip.editor %} - [ <a href="{{ snip.get_absolute_historyurl }}">Snip Changes</a> ]{% if snip.has_edit_permission %} [ <a href="{{ snip.get_absolute_editurl }}" >Edit</a> ] [ <a href="{{ snip.get_absolute_attachmenturl }}">Attachments</a> ]{% endif %} [ <a href="{{ snip.get_absolute_recentchangesurl }}">Wiki History</a> ]</small><br/>
  {% endif %}

