{% extends "sphene/sphboard/base.html" %}

{% load sphboard_extras %}
{% load sph_extras %}


{% block content %}
  {% include "sphene/sphwiki/_snip_header.html" %}
<style>
        table.diff {font-family:Courier; border:medium;width:100%;}
        .diff_header {background-color:#e0e0e0}
        td.diff_header {text-align:right}
        .diff_next {background-color:#c0c0c0}
        .diff_add {background-color:#aaffaa}
        .diff_chg {background-color:#ffff77}
        .diff_sub {background-color:#ffaaaa}
</style>

  <a href="{{ snip.get_absolute_url }}" style="float: left;">Back to Snip</a>
  {% if next_change or prev_change %}
    <span style="float: right; ">
      {% if prev_change %}
        <a href="{{ prev_change.get_absolute_url }}">&lt;-- Previous Change</a>
      {% endif %}
      {% if prev_change and next_change %} | {% endif %}
      {% if next_change %}
        <a href="{{ next_change.get_absolute_url }}">Next Change --&gt;</a>
      {% endif %}
    </span><br/><br/>
  {% endif %}

  {{ diffTable }}

{% endblock %}
