{% extends "sphene/sphwiki/base.html" %}

{% load sphboard_extras %}
{% load sph_extras %}

{% block content %}
  {% include "sphene/sphwiki/_snip_header.html" %}
  {% if snip.id %}
    {% if False and sph.toc %}
      <div id="sphwiki_toc">{{ sph.toc }}</div>
    {% endif %}

    <div class="sphwiki_body">
      {{ snip_rendered_body }}
    </div>
  {% else %}
    Snip <strong>{{ snipName }}</strong> does not yet exist. {% if perms.sphwiki.add_wikisnip %}<a href="{{ snip.get_absolute_editurl }}">Create It.</a>{% endif %}
  {% endif %}

{% endblock %}
