{% load i18n %}
{% load sph_extras %}
  {% if snip.is_secured %}
    <strong class="wiki_secured">{% blocktrans with snip.get_wiki_preference.get_view_display as allowed_users %}This snip is secured - View only allowed by: {{ allowed_users }}{% endblocktrans %}</strong><br/>
  {% endif %}
  {% if snip.id %}
    {% if snip.title %}
      <h1 class="wiki_title">{{ snip.title }}</h1>
    {% else %}
      <h1 class="wiki_title">{{ snip.name }}</h1>
    {% endif %}
    <small class="sphwiki_belowtitle">
      <strong class="sphwiki_breadcrumbs">
        {% for element in snip.get_snip_path %}
          {% if element.snip %}<a href="{{ element.snip.get_absolute_url }}" title="{% if snip.title %}{{ snip.title }}{% else %}{{ snip.name }}{% endif %}">{% endif %}
          {{ element.name }} 
	  {% if element.snip %}</a>{% endif %}
          {% if not forloop.last %} / {% endif %}
        {% endfor %}
      </strong>
      <div class="sphwiki_actions">
        {% if snip.has_edit_permission %} [ <a href="{{ snip.get_absolute_editurl }}" >{% trans "Edit" %}</a> ]{% if user.is_authenticated %} [ <a href="{{ snip.get_absolute_attachmenturl }}">{% trans "Attachments" %}</a> ]{% endif %}{% endif %}{% if snip.pdf_enabled %} [ <a href="{{ snip.get_absolute_pdfurl }}" rel="nofollow">{% trans "Download PDF" %}</a> ]{% endif %}
      </div>
      </small><br/>
  {% endif %}

