{% extends "sphene/sphwiki/base.html" %}

{% load i18n %}
{% load sph_extras %}

{% block head %}
  {{ block.super }}
  {% if sph_settings.wiki_rss_url %}
    <link rel="alternate" title="Latest Wiki Changes" href="{{ sph_settings.wiki_rss_url }}" type="application/rss+xml">
  {% endif %}
{% endblock %}

{% block content %}
  {% include "sphene/sphwiki/_snip_header.html" %}
  {% if redirects %}
    <ul class="sphwiki redirects">
    {% for redirect in redirects %}
      <li>Redirected from <a href="{{ redirect.get_absolute_url }}?redirect=no">{{ redirect.get_title }}</a></li>
    {% endfor %}
    </ul>
  {% endif %}
  {% if snip.id %}
    {% if False and sph.toc %}
      <div id="sphwiki_toc">{{ sph.toc }}</div>
    {% endif %}

    <div class="sphwiki_body">
      {{ snip_rendered_body }}
    </div>

    <br/><br/><small>{% blocktrans with snip.changed|sph_date as snip_changedate and snip.editor|sph_html_user as snip_editor %}Last Modified: {{ snip_changedate }} by {{ snip_editor }}{% endblocktrans %} - [ <a href="{{ snip.get_absolute_historyurl }}">{% trans "Snip Changes" %}</a> ] [ <a href="{{ snip.get_absolute_recentchangesurl }}">{% trans "Wiki History" %}</a> ]</small>
  {% else %}
    {% blocktrans with snipName as snip_name and "<strong>" as snip_prefix and "</strong>" as snip_postfix %}Snip {{ snip_prefix }}{{ snip_name }}{{ snip_postfix }} does not yet exist.{% endblocktrans %} {% if snip.has_edit_permission %}<a href="{{ snip.get_absolute_editurl }}">{% trans "Create It." %}</a>{% endif %}
  {% endif %}

{% endblock %}
