{% extends "sphene/sphsearchboard/base.html" %}

{% load sph_extras %}
{% load sphsearch_extras %}
{% load sphboard_extras %}

{% block content %}

  <p>{% sphboard_displayBreadcrumbsForCategory category 1 1 %} &gt;&gt; Search</p>


  <form method="get" action=".">
    <input type="hidden" name="category_id" value="{{ category.id }}" />
    <input type="text" name="query" value="{{ query }}" />
    <input type="submit" value="Search" />
  </form>

  {% if results %}
    <h2>Search Results for {{ query }}</h2>

    <ul class="sphsearch">
      {% for result in results %}
        <li>
          {% with result.instance as post %}
            <a href="{{ post.get_absolute_url }}">{% highlight terms %}{{ post.subject }}{% endhighlight %}</a>
            <p>
              {% highlight terms %}
                {% searchexcerpt terms 3 %}
                  {{ post.body_rendered_without_signature|striptags }}
                {% endsearchexcerpt %}
              {% endhighlight %}
            </p>
            <div class="sphsearch_meta">{{ result.get_score }} - Posted by {{ post.author|sph_html_user }} at {{ post.postdate|sph_date }}</div>
          {% endwith %}
        </li>
      {% endfor %}
      <p>Displaying {{ start }} - {{ end }} (Of about {{ count }})</p>
      <p>{% if prev %}<a href="{{ prev }}">Previous {% endif %}{% if next %}<a href="{{ next }}">Next{% endif %}</p>
    </ul>
  {% endif %}

{% endblock %}
