{% load sph_extras %}
{% load sphboard_extras %}
{% if latestPost %}
  {% ifequal showSubject 1 %}
    <a href="../../thread/{{ latestPost.get_thread.id }}/?page={{ latestPost.get_threadinformation.get_page_count }}">{% sph_truncate latestPost.subject 30 "..." %}</a>
    at {{ latestPost.postdate|date:"Y-m-d H:i:s" }}<br/>
  {% else %}
    At <a href="../../thread/{{ latestPost.get_thread.id }}/?page={{ latestPost.get_threadinformation.get_page_count }}">{{ latestPost.postdate|date:"Y-m-d H:i:s" }}</a><br/>
  {% endifequal %}
  By {% sphboard_displayUserName latestPost.author %}
{% else %}
  No Posts Yet.
{% endif %}


