{# I would appreciate if you could put a similar notice on your website pointing to http://sct.sphene.net - Thank you. #}
<div id="poweredby">
<a href="http://sct.sphene.net/"><img src="{{ STATIC_URL }}sphene/community/logo/sct-powered-124x25.png" border="0" alt="Powered by Sphene Community Tools" title="Powered by Sphene Community Tools" width="124px" height="25px" /></a>
</div>
{% comment %}
 or feel free to use a simple text link like:
<small>Powered by <a href="http://sct.sphene.net/">Sphene Community Tools</a></small> 
{% endcomment %}<br/><br/>
<!-- STATS: Total: %(totTime).2f Python: %(pyTime).2f DB: %(dbTime).2f Queries: %(queries)d -->
