{% load sphboard_extras %}
<html>
<head>
  <title>Example Project</title>
  <link href="{{ MEDIA_URL }}sph_theme/css/sph_theme.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="leftblock">
  <div id='navigation'>
    <ul>
      <li><a href="/wiki/">Home</a></li>
      <li><a href="/board/">Board</a></li>
    </ul>
  </div>
  <div id="userblock">
    {% if user.is_authenticated %}
      You are logged in as {% sphboard_displayUserName user %}<br/>
      <a href="/accounts/logout/">Logout</a>
    {% else %}
      You are not logged in.<br/>
      <a href="/accounts/login/?next={{ request.path|urlencode }}">Login</a><br/>
      <a href="/accounts/register/">Register</a><br/>
    {% endif %}
  </div>
</div>

<div id='content'>
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
       <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
{% block content %}
{% endblock %}
</div>
</body>
</html>

