{% load i18n %}
{% load sph_extras %}
{% if user.is_authenticated %}
  <p>
    {% trans "You are logged in as:" %}<br/>
    {{ user|sph_html_user }}<br/>
    <a href="{% sph_url 'profile-edit-mine' %}">{% trans "Edit Profile" %}</a><br/><br/>
    <a href="{% sph_url 'accounts_logout' %}">{% trans "Logout" %}</a>
  </p>
{% else %}
  <p>
    {% trans "You are not logged in." %}<br/>
    <a href="{% sph_url 'accounts_login' %}{% if not sph.is_logout %}?next={{ request.path|urlencode }}{% endif %}">{% trans "Login" %}</a><br/>
    <a href="{% sph_url 'sph_register' %}">{% trans "Register" %}</a><br/>
  </p>
{% endif %}

