{% load sphlinklist_extras %}
<a href="{{ thread.get_absolute_url }}" border="0">
{% ifequal thumbnailsize "large" %}
    {% with thumbnail=link.link|website_thumbnail_url:202 %}
        <img src="{{ thumbnail.url }}" width="202px" align="left" border="0" style="padding-right:5px" />
    {% endwith %}
{% else %}
    {% with thumbnail=link.link|website_thumbnail_url:92 %}
        <img src="{{ thumbnail.url }}" width="92px" align="left" border="0" style="padding-right:5px" />
    {% endwith %}
{% endifequal %}
</a>
