
.memberquote {
margin-left: 1em;
font-size: smaller;
}

blockquote {
border-left: 5px solid #ccc;
margin-left: 1.5em;
padding-top: 0.5em;
padding-bottom: 0.5em;
padding-left: 5px;
margin-top: 0.5em;
margin-bottom: 0.5em;
min-height: 2em;
}

pre code, .code {
background-color:#eee;
display:block;
padding: 5px;
border: 1px dotted black;
overflow: scroll;
}

.bn {
border:medium none;
padding:1px;
}

.bh {
border:1px solid #396004;
padding:0;
}
