{% load i18n %}
{% load sph_extras %}
{% load sphboard_extras %}
{% if latestPost %}
  {% ifequal showSubject 1 %}
    <a href="{{ latestPost.get_absolute_url }}">{% sph_truncate latestPost.subject 30 "..." %}</a>
    {% blocktrans with latestPost.postdate|date:"Y-m-d H:i:s" as latest_post %}at {{ latest_post }}{% endblocktrans %}
    <br/>
  {% else %}
  {% blocktrans with latestPost.get_absolute_url as post_url and latestPost.postdate|date:"Y-m-d H:i:s" as latest_post %}At <a href="{{ post_url }}">{{ latest_post }}</a>{% endblocktrans %}
  <br/>
  {% endifequal %}
  {% trans "By" %} {% sphboard_displayUserName latestPost.author %}
{% else %}
  {% trans "No Posts Yet." %}
{% endif %}


