{% load i18n %}
{% load sph_extras %}
{% load sphboard_extras %}
{% if show_board_link %}
<a href="{% sph_url2 sphboard_show_category category_id=0 %}">{% trans "Board" %}</a>
{% endif %}
{% if categories %}
  {% for category in categories %}
    &gt;&gt; 
    {% ifnotequal category current %}
      <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
    {% else %}
      {{ category.name }}
    {% endifnotequal %}
  {% endfor %}
{% endif %}
{% if thread %}
  &gt;&gt;
  {% if linkall %}
    <a href="{{ thread.get_absolute_url }}">{{ thread.subject }}</a>
  {% else %}
    {{ thread.subject }}
  {% endif %}
{% endif %}
