{% extends "sphene/sphboard/base.html" %}
{% load i18n %}

{% load sphboard_extras %}

{% block content %}

  {% sphboard_displayBreadcrumbsForThread thread 1 %}
  <br/><br/>
  <b>{% blocktrans with post.subject|escape as subject %}Annotate post: {{ subject }} by {% endblocktrans %}{% sphboard_displayUserName post.author %}</b>
  <br/><br/>

  <form method="POST" action=".">
    <table class="sphboard form">
      {{ form }}
      <tr>
        <td colspan="2"><input type="submit" value="{% trans "Annotate" %}" /></td>
      </tr>
    </table>
  </form>
{% endblock %}
