{% extends "sphene/community/admin/permission/base.html" %}
{% load i18n %}
{% load sph_extras %}

{% block content %}
  {{ block.super }}

{% blocktrans with role.name as role_name %}Members of the role '{{ role_name }}'.{% endblocktrans %}<br/><br/>

<table>
  <tr>
    <th>&nbsp;</th>
    <th>{% trans "User" %}</th>
    <th>{% trans "Limitations" %}</th>
  </tr>
  {% for member in members %}
    <tr>
      <td class="sph_options">[ <a href="?cmd=remove&amp;id={{ member.id }}">{% trans "Remove" %}</a> ]</td>
      <td>{% sph_html_user member.user %}</td>
      <td>{{ member.get_limitations_string }}</td>
    </tr>
  {% endfor %}
</table><br/><br/>

<a href="{{ role.get_absolute_memberaddurl }}">{% trans "Add Member" %}</a>

{% endblock %}
