{% extends "sphene/community/admin/permission/base.html" %}

{% load sph_extras %}

{% block content %}
  {{ block.super }}

Members of the role '{{ role.name }}'.<br/><br/>

<table>
  <tr>
    <th>&nbsp;</th>
    <th>User</th>
    <th>Limitations</th>
  </tr>
  {% for member in members %}
    <tr>
      <td class="sph_options">[ <a href="?cmd=remove&amp;id={{ member.id }}">Remove</a> ]</td>
      <td>{% sph_html_user member.user %}</td>
      <td>{{ member.get_limitations_string }}</td>
    </tr>
  {% endfor %}
</table><br/><br/>

<a href="{{ role.get_absolute_memberaddurl }}">Add Member</a>

{% endblock %}
